.upload-product-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 10px 10%;
}


.upload-info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}


.dropzone-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#my-awesome-dropzone {
    border-radius: 5px;
    min-width: 200px;
}

.file-name-container {
    position: absolute;
    top: 30px;
    color: white;
    z-index: 200;
}
#file-name {
    opacity: .6;
}

#remove-selected-file {
    margin-left: 10px;
    transition: all .2s;
    cursor: pointer;
    opacity: .6;
    font-size: 16px;
}

#remove-selected-file:hover {
    opacity: 1;
    transition: all .2s;
}

#download-template-link {
    position: fixed;
    bottom: 20px;
    z-index: 500;
}

#download-template-link > a {
    color: white;
    opacity: .6;
}
#download-template-link > a:hover {
    opacity: 1;
}
.close-upload-button {
    padding: 5px 10px;
    background: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    cursor: pointer;
    opacity: .6;
    transition: all .2s;
    z-index: 100;
}

.close-upload-button:hover {
    opacity: 1;
    transition: all .2s;
}

#mx-add-quote {
    margin:15px auto;
    padding:10px;
    cursor:pointer;
    width:120px;
    background:whitesmoke;
    display:none;
    border-radius: 3px;
}
.upload-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 100px 30px 20px;
    background-color: #39454c;
    margin: 0;
}

.upload-po-table-container {
    /* display: flex; */
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color:#455560;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    display: flex;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
}

.upload-po-row.header-row {
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    height: 50px;
    margin-bottom: 0;
    margin-top: 0;
    border: 0;
    color: #39454c;
    border-radius: 5px 5px 0 0;
}

.upload-po-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 12px;
    height: auto;
    min-height: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}

.upload-po-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-right: 1px solid gray;
}

.upload-po-cell:last-child {
    border-right: none;
}



@media screen and (min-width: 1000px) {
    .upload-po-table-container {
        /* display: flex; */
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 85%;
        height: 100%;
        max-height: 85%;
        overflow-y: auto;
        background-color:#455560;
        margin: 0;
        padding: 0;
        border: 1px solid rgba(255,255,255,0.2);
        border-radius: 5px;
    }

}